html, body {
    height: 100%;
}

header, footer {
    margin: 0 20px;
}

body {
    display: flex;
    flex-direction: column;
    margin: 0;

    main {
        display: flex;
        flex-direction: column;
        flex-grow: 1;
        align-items: flex-start;

        #viewport {
            width: 100%;
            flex-grow: 1;
            height: 100%;
            margin-bottom: 20px;
        }

        > :not(#viewport) {
            margin: 0 20px;
        }
    }
}